/* Resposive Breakpoints */
/* Tablet (laptop)  max-width: 1024px */
/* Mobile  large (tablet) max-width: 768px*/
/* Mobile  max-width:480px*/

:root {
  --page-width: 1170px;
	--page-width-narrow: 1020px;
	--white: #ffffff;
  --white-dark:#F1F3F3;
  --grey: #D9D9D9;
  --blue: #0F1123;
  --beige: #E8D7C1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

Cleaning default style *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover { 
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  position: relative;
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit
}

button {
  cursor: pointer;
  border:none;
  box-shadow:none;
  margin:0;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt_wght.woff) format('woff');
  font-weight: 1 999;
  font-display: swap;
 
}
@font-face {
  font-family: 'Forum';
  src: url(../fonts/Forum-Regular.woff) format('woff'); 
  font-display: swap; 
}
@font-face {
  font-family: 'Giovanna';
  src: url(../fonts/Giovanna.woff) format('woff'); 
  font-display: swap; 
}



/*  */


body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding: 0; 
	margin: 0; 
  min-height:100vh;
}

.page-width {
  max-width: var(--page-width);
  width:-webkit-fill-available;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
	margin: 0 auto;
}
.page-width.narrow {
  max-width: var(--page-width-narrow); 

	
}
h1 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 110%;
  text-transform: uppercase; 
}

h2, .h2 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 110%;    
}

h3, .h3{
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;  
  line-height: 120%;  
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;  
  line-height: 120%; 
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 156%;
}

.primary-btn {  
  padding:15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.4px;  
  text-transform: uppercase;
}
.secondary-btn {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  padding:7px 0; 
  text-align: center;
  text-transform: capitalize;
}
.light {
  background:var(--beige);
  color:var(--blue);
}
.dark {
  background:var(--blue);
  color: var(--white);
}

.primary-btn:hover, 
.secondary-btn:hover {

}

.btn-link {

}
.btn-link:hover {

}
.hover-special:hover {

}

.form-input::placeholder {
  color: var(--color-black);
}
.form-input:focus {
  outline: none;
}
button:hover, 
a:hover {
  opacity: .8;
}

/* autofill input color settings */
input.form-input:-webkit-autofill,
input.form-input:-webkit-autofill:hover,
input.form-input:-webkit-autofill:focus,
input.form-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
  -webkit-text-fill-color: var(--blue);
  background-color: white !important;
  border-top:none!important;
  border-left:none!important;
  border-right:none!important;
  border-radius: 0px;
}
#consultation_form input:-webkit-autofill,
#consultation_form input:-webkit-autofill:hover,
#consultation_form input:-webkit-autofill:focus,
#consultation_form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
  -webkit-text-fill-color: var(--blue);
  background-color: white !important;
  border-top:none!important;
  border-left:none!important;
  border-right:none!important;
  border-radius: 0px;
}
input::-webkit-input-placeholder {
  color:  var(--blue);
}

.textField:-ms-input-placeholder {
  color:  var(--blue);
}

.textField::-ms-input-placeholder {
  color:  var(--blue);
}

/* mobile vers. */

@media screen and (max-width: 480px) {
  .page-width {    
    padding-left: 1rem;
    padding-right: 1rem;    
  }  
  h1 {    
    font-size: 3.2rem;
    line-height: 100%;
  }  
  h2, .h2 {    
    font-size: 2.4rem;
    line-height: 120%;       
  }  
  h3, .h3 {    
    font-size: 2rem;      
  }  
  h4 {    
    font-size: 1.8rem;    
  }  
  p {    
    font-weight: 350;
    font-size: 1.2rem;
    line-height: 140%;
  }
  .primary-btn > span,
  .secondary-btn > span {  
  font-size: 18px;    
  }
  .btn-link  > span {    
    font-size: 16px;   
  }

}

@media screen and (min-width:481px) and (max-width: 768px) {
  .page-width {    
    padding-left: 2.4rem;
    padding-right: 2.4rem;    
  }

} 


.hidden {
  visibility: hidden!important;
  opacity: 0!important;
}
 
